* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", arial, sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /********Ninas background image******/
    background-image: url("./images/portugal1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* SCROLL BARS */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* background-image: linear-gradient(
        to top,
        powderblue 0%,
        rgb(73, 125, 189) 50%,
        rgba(2, 17, 56, 0.67) 80%
    ); */
    /* background-image: linear-gradient(
        to top,
        rgb(2, 17, 56) 20%,
        rgb(117, 198, 22) 60%,
        rgb(23, 64, 22) 80%
    ); */
    background-image: linear-gradient(
        to bottom,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        purple
    );
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    /* color of profile-pic shirt, slightly darker */
    color: rgb(71, 60, 53);
}

a {
    /* color: rgb(16, 66, 35); */
    /* color: rgb(61, 65, 61); */
    /* color of profile-pic shirt, slightly darker */
    color: rgb(71, 60, 53);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a,
a:focus {
    text-decoration: none;
}

a:visited {
    /* color of profile-pic shirt, slightly darker */
    color: rgb(71, 60, 53);
}

a:hover {
    /* text-decoration: underline; */
    color: rgb(24, 39, 29);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 370px 1fr; /*for parent, 1fr: all of the available rest of space*/
    grid-template-rows: 1fr;
    /* grid-gap: 10px; */
}

/* ======= SIDE BAR ======= */

.left-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(240, 255, 244, 0.7);
    border-radius: 5px;
    padding: 20px;
    margin: 22px;
}

img.profile-pic {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.profile-info .name {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.profile-info h2 {
    /* color of profile-pic background: */
    color: rgb(96, 92, 91);
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.profile-info span {
    display: block;
    margin: 5px 0px;
    /* color of profile-pic shirt, slightly darker */
    color: rgb(71, 60, 53);
}

.contact {
    margin-left: 15px;
    margin-bottom: 15px;
}

.contact a,
.profile-info span {
    display: block;
    margin: 10px 0px;
}

/* font awesome icons: */
svg {
    margin-right: 8px;
}

main {
    /* background-color: goldenrod; */
    margin: 10px;
}

.right-sidebar {
    background-color: papayawhip;
}
