/* Styles for particular objects */
.banana {
    height: 5.6vw;
    width: auto;
}

.bridge {
    height: 4.68vw;
    width: auto;
}
.cloth {
    height: 12.6vw;
    width: auto;
}
.coin {
    height: 4.59vw;
    width: auto;
}
.flower {
    height: 8.01vw;
    width: auto;
}
.fur {
    height: 9.27vw;
    width: auto;
}
.giant {
    height: 9.36vw;
    width: auto;
}
.peg {
    height: 5.67vw;
    width: auto;
}
.pig {
    height: 4.23vw;
    width: auto;
}
.plane {
    height: 7.38vw;
    width: auto;
}
.pokerchip {
    height: 4.23vw;
    width: auto;
}
.pole {
    height: 8.01vw;
    width: auto;
}
.puzzle {
    height: 8.01vw;
    width: auto;
}
.ring {
    height: 4.41vw;
    width: auto;
}
.rummikubtile {
    height: 7.02vw;
    width: auto;
}
.scissors {
    height: 4.77vw;
    width: auto;
}
.stone {
    height: 4.23vw;
    width: auto;
}
.ticket {
    height: 8.82vw;
    width: auto;
}
.token {
    height: 5.04vw;
    width: auto;
}
.triangle {
    height: 5.04vw;
    width: auto;
}

@media screen and (max-width: 480px) {
    .banana {
        height: 15.6vw;
    }
    .bridge {
        height: 14.68vw;
    }
    .cloth {
        height: 22.6vw;
    }
    .coin {
        height: 14.59vw;
    }
    .flower {
        height: 18.01vw;
    }
    .fur {
        height: 19.27vw;
    }
    .giant {
        height: 19.36vw;
    }
    .peg {
        height: 15.67vw;
    }
    .pig {
        height: 14.23vw;
    }
    .plane {
        height: 17.38vw;
    }
    .pokerchip {
        height: 14.23vw;
    }
    .pole {
        height: 18.01vw;
    }
    .puzzle {
        height: 18.01vw;
    }
    .ring {
        height: 14.41vw;
    }
    .rummikubtile {
        height: 17.02vw;
    }
    .scissors {
        height: 14.77vw;
    }
    .stone {
        height: 14.23vw;
    }
    .ticket {
        height: 18.82vw;
    }
    .token {
        height: 15.04vw;
    }
    .triangle {
        height: 15.04vw;
    }
}