:root {
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lato", arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(138 144 133);
  height: 100%;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /********Ninas background image******/
  /* background-image: url("./images/portugal1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
}

/* SCROLL BARS */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    powderblue 20%,
    rgb(117, 198, 22) 60%,
    rgb(23, 64, 22) 80%
  );
  /* background-image: linear-gradient(
        to bottom,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        purple
    ); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* color of profile-pic shirt, slightly darker */
  color: rgb(71, 60, 53);
}

h3 {
  font-size: 22px;
  margin-bottom: 6px;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 6px;
}

h5 {
  font-size: 16px;
  margin-top: 4px;
  margin-bottom: 6px;
}

a {
  /* color: rgb(16, 66, 35); */
  /* color: rgb(61, 65, 61); */
  /* color of profile-pic shirt, slightly darker */
  color: rgb(71, 60, 53);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a,
a:focus {
  text-decoration: none;
}

a:visited {
  /* color of profile-pic shirt, slightly darker */
  color: rgb(71, 60, 53);
}

a:hover {
  /* text-decoration: underline; */
  color: rgb(24, 39, 29);
}

/* ======= SIDE BAR ======= */

.left-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  /* min-width: 330px; */
  height: 100%;
  min-height: 650px;
  padding: 22px;
}

.right-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  /* min-width: 330px; */
  height: 100%;
  min-height: 650px;
  padding: 22px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(245, 248, 240, 1);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 12px;
}

.left-sidebar .sidebar {
  /* rundes Loch zum Hintergrund als Fenster fürs Profilbild */
  mask-composite: exclude; /* Ensures the hole is visible */
  -webkit-mask-composite: destination-out; /* Webkit equivalent */
  mask-image: radial-gradient(
    circle at center 142px,
    transparent 114px,
    black 115px
  );
  -webkit-mask-image: radial-gradient(
    circle at center 142px,
    transparent 114px,
    black 115px
  );
}

.window {
  /* Platzhalter für das Profilbild */
  position: relative;
  align-self: center;
  width: 230px;
  height: 230px;
}

.window-frame {
  position: fixed;
  z-index: 1;
  top: 49px;
  left: 65px;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 2px solid rgb(96, 92, 91);
}

img.profile-pic {
  position: fixed;
  top: 72px;
  left: 89px;
  width: 200px;
  height: auto;
  object-fit: cover;
  object-position: center top;
  /* background-color: rgb(138 144 133); */
}

.profile-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.profile-info .name {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile-info h2 {
  /* color of profile-pic background: */
  color: rgb(96, 92, 91);
  font-size: 24px;
  text-align: center;
  margin: 5px 0;
}

.profile-info hr {
  border: none;
  margin: 0;
  background-color: rgb(96, 92, 91);
  height: 2px;
  width: 40px;
  margin-top: 2px;
}

.profile-info span {
  display: block;
  margin: 5px 0px;
  /* color of profile-pic shirt, slightly darker */
  color: rgb(71, 60, 53);
}

.contact {
  position: relative;
  z-index: 1;
  margin-left: 15px;
  margin-bottom: 15px;
}

.contact a,
.profile-info span {
  display: block;
  margin: 10px 0px;
}

.wip {
  text-align: center;
  color: rgb(71, 60, 53);
  font-size: 12px;
}

.wip a {
  text-decoration: underline;
}

/* font awesome icons: */
svg {
  margin-right: 8px;
}

/* ======= MAIN / PROJECTS ======= */

main {
  position: relative;
  margin: 0;
}

.spacer {
  position: absolute;
  top: 0;
  height: 100%;
}

section.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: goldenrod; */
  padding: 22px 0;
  margin: 0 360px;
  max-width: 1300px;
  /* solange es noch keine rechte sidebar gibt: */
  margin-right: 22px;
}

.portfolio,
.project {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(245, 248, 240, 0.8);
  width: 100%;
  min-width: 340px;
  border-radius: 6px;
  padding: 10px;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.content > div:not(:last-of-type) {
  margin-bottom: 22px;
}

.portfolio {
  position: sticky;
  top: 22px;
  z-index: 100;

  align-items: center;
  justify-content: center;
}

.project {
  justify-content: space-between;
}

@media (hover: hover) and (pointer: fine) {
  .project:hover {
    background-color: rgba(245, 248, 240, 0.9);
  }
}

.first-box,
.second-box {
  position: relative;
  flex: 1 1 50%; /* Grow, shrink, and set a base width of 50% */
  min-width: 320px;
}

.first-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.first-box h3,
.first-box h4 {
  text-align: center;
}

.img-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 2px solid rgb(96, 92, 91);
}

@media (hover: hover) and (pointer: fine) {
  .img-box.effect {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  .btn.live {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  .img-box.effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
  .btn.live:hover {
    background-color: rgb(96, 92, 91);
    color: rgb(245, 248, 240);
  }

  .img-box.effect:active,
  .btn.live:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}

.img-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.second-box {
  position: relative;
  flex-grow: 1;
  padding-left: 15px;
  padding-bottom: 45px;
  min-width: 320px;
}

.features {
  margin-bottom: 12px;
}

.features li {
  margin-bottom: 5px;
}

.btn.live {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 6px;
}

.second-box a.github {
  position: absolute;
  display: block;
  bottom: 8px;
  font-weight: bold;
  text-align: center;
}

.second-box .btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(96, 92, 91);
  border-radius: 6px;
  font-weight: bold;

  /* -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; */
}

.btn:focus {
  background-color: rgb(96, 92, 91);
  color: rgb(245, 248, 240);
}

.second-box .btn img {
  height: 20px;
  width: 20px;
  margin: 0 2px;
}

/* PHONE STYLING */
@media screen and (max-width: 480px) {
  .spacer {
    height: 200vh;
  }
  section.content {
    margin-left: 0;
    margin-right: 0;
    padding: 22px;
  }
  .left-sidebar {
    position: relative;
    width: 100%;
    height: unset;
    min-height: unset;
    padding-bottom: 0px;
  }
  .right-sidebar {
    /* TODO */
    display: none;
  }

  .window-frame,
  img.profile-pic {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  .portfolio,
  .project {
    flex-direction: column;
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
  .img-box {
    width: 100%;
    height: 25vh;
    /* border-width: 1px; */
  }
  .btn.live,
  .second-box a.github {
    position: relative;
    bottom: unset;
    right: unset;
    margin-top: 10px;
  }
  .second-box {
    padding-left: unset;
    padding-bottom: unset;
  }
  .project-info {
    border-top: 1px solid rgb(96, 92, 91);
    border-bottom: 1px solid rgb(96, 92, 91);
    /* border-radius: 6px; */
    padding: 4px 4px 8px 4px;
  }

  .first-box,
  .second-box {
    min-width: unset;
  }
}

/* ======================= */
/* ======= EFFECTS ======= */
/* ======================= */

/* ======= WHEEL ======= */

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}
.wheel-wrapper {
  --width: 42px; /* muss auf Schriftgröße angepasst werden ?? bestimmt zusammen mit --transZ die Breite des Wheels */
  --transZ: 78px; /* bestimmt zusammen mit --width die Breite des Wheels & Abstand zwischen den Panels */
  --number: 12; /* number of panels */
  --number-float: 12;
  --wheelRotation: -29deg; /* wird in JS gesetzt */

  position: relative;
  height: 260px;
  height: 160px;
  display: grid;
  place-items: center;
  perspective: 500px;
  perspective-origin: 50% calc(50% - 90px);

  font-size: 52px;
  line-height: 1;
  font-weight: 800;

  margin-top: -30px;
}

.wheel-wrapper .wheel {
  position: relative;
  transform-style: preserve-3d;
}

.wheel-wrapper .banner {
  display: flex;
  transform-style: preserve-3d;
  /* TODO: */
  /* animation: rotate 20s infinite linear; */

  /* ? */
  transition: transform 1.2s var(--ease-out-quart);
  transform: rotateY(var(--wheelRotation));
}

.wheel-wrapper .panel {
  position: absolute;
  transform: translate(-50%, -50%) rotateY(var(--angle))
    translateZ(var(--transZ));
  width: var(--width);
  overflow: hidden;

  font-size: inherit;
  height: 1em;

  color: rgb(71, 60, 53);
  /* Regenbogen */
  /* color: hsl(var(--hue), 75%, 75%); */

  /* TODO: Berechnung korrigieren: */
  /* --left: calc(var(--width) * (var(--number-float) - 1.0 - var(--n)) * -1); */
  --hue: calc(360deg / var(--number) * var(--n));
  --angle: calc(360deg / var(--number) * var(--n));
}

/* SCSS: */
/* $number: 12;
@for $i from 0 to $number {
  .panel:nth-child(#{$i + 1}) {
    --left: #{$width * $i * -1};
    --hue: #{360 / $number * $i};
    --angle: #{360deg / $number * $i};
  }
} */

.panel:nth-child(1) {
  --left: 0px;
}
.panel:nth-child(2) {
  --left: -42px;
}
.panel:nth-child(3) {
  --left: -84px;
}
.panel:nth-child(4) {
  --left: -126px;
}
.panel:nth-child(5) {
  --left: -168px;
}
.panel:nth-child(6) {
  --left: -210px;
}
.panel:nth-child(7) {
  --left: -252px;
}
.panel:nth-child(8) {
  --left: -294px;
}
.panel:nth-child(9) {
  --left: -336px;
}
.panel:nth-child(10) {
  --left: -378px;
}
.panel:nth-child(11) {
  --left: -420px;
}
.panel:nth-child(12) {
  --left: -462px;
}

.wheel-wrapper .panel::before {
  position: absolute;
  left: var(--left);
  content: "HIRE ME NOW"; /* HIRE ME ★ HIRE ME ★  */
  width: max-content;
}

.wheel-wrapper .screen {
  /* trennt vertikal den vorderen Teil vom Rad vom hinteren */
  /* display: none; */

  position: absolute;
  width: 200px;
  height: 160px;
  background-color: rgba(245, 248, 240, 0.85);
  transform: translate(-50%, -50%);
}

/* ======= FALLING OBJECTS / RAIN & SNOW ======= */

#effects {
  position: fixed;
  top: 0;
  height: 100lvh;
  width: 100%;
  overflow: hidden;
}

.rain-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: rain 3s linear forwards;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) rotate(0deg);
  pointer-events: none;
  animation: snow-fall linear forwards;
  opacity: 1;
}

.snowflake.test {
  animation: none;
}

@keyframes snow-fall {
  0% {
    transform: translateX(-50%) translateY(-20lvh) rotate(0deg); /* Start slightly above the container */
    opacity: 0; /* Fully transparent at the start */
  }
  25% {
    transform: translateX(-55%) translateY(20lvh) rotate(-10deg); /* Progress evenly downward */
    opacity: 1; /* Fully visible as it enters */
  }
  50% {
    transform: translateX(-45%) translateY(50lvh) rotate(10deg); /* Continue evenly downward */
  }
  75% {
    transform: translateX(-53%) translateY(75lvh) rotate(-5deg); /* Further progress */
  }
  100% {
    transform: translateX(-50%) translateY(100lvh) rotate(0deg); /* End well below the container */
  }
}

@keyframes rain {
  0% {
    top: -10%;
    opacity: 1;
  }
  100% {
    top: 110%;
    opacity: 0;
  }
}
